<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:include="common/head :: header('用户注册')" />
    <link href="/css/signin.css" rel="stylesheet">
</head>

<body>
<div th:replace="common/topfooter :: navbar"></div>
<br/><br/><br/><br/><br/>
<div class="container">
    <form class="form-signin" method="post" action="/user/register">
        <h2 class="form-signin-heading">注册</h2><br/><br/>
        <input type="test" id="inputEmail" class="form-control" name="username" placeholder="输入用户名" required autofocus><br/>
        <input type="test" id="inputsex" class="form-control" name="sex" placeholder="性别" required autofocus><br/>
        <input type="password" id="inputPassword" class="form-control" name ="password" placeholder="输入密码" required><br/>
        <input type="password" id="inputPassword2" class="form-control" placeholder="确认密码" required><br/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">注册</button><a href="/user/login">去登录</a>

    </form>

</div> <!-- /container -->
<th:block th:include="common/head :: footer" />
</body>
</html>
